@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@theme {
  --spacing: 1px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

button {
  cursor: pointer;
}

.swiper {
  max-width: inherit;
  padding-bottom: 56px;
  padding-inline: 40px;
  margin-inline: -40px;
}

.swiper-slide {
  height: auto;
}
