.searchbar {
  --searchbarSubmitBtnSize: 40px;
  --searchbarResetBtnSize: 32px;
  position: relative;
  min-width: 400px;
}

.searchbar__submitBtn {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: var(--searchbarSubmitBtnSize);
  height: var(--searchbarSubmitBtnSize);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar__inputWrapper {
  position: relative;
}

.searchbar__input {
  background-color: white;
  border-radius: 40px;
  font-size: 20px;
  padding-block: 8px;
  padding-inline: calc(var(--searchbarSubmitBtnSize) + 16px) calc(var(--searchbarResetBtnSize) + 16px);
  border: 1px solid var(--color-violet-500);
  min-width: inherit;
  width: 100%;
}

.searchbar__input:focus-visible {
  outline: 3px solid var(--color-amber-400);
}


.searchbar__resetBtn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: var(--searchbarResetBtnSize);
  height: var(--searchbarResetBtnSize);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  border-radius: 50%;
  background-color: #888888;
}

.searchbar__resetBtn.isShown {
  opacity: 1;
  visibility: visible;
}

.searchbar__resetBtn:hover {
  color: white;
}

.searchbar__resetBtn svg path {
  fill: currentColor;
}
