.searchbar {
  --searchbarMinWidth: 400px;
  --searchbarInputBorderRadius: 40px;
  --searchbarInputFontSize: 20px;
  --searchbarInputPaddingInline: calc(var(--searchbarSubmitBtnSize) + 16px) calc(var(--searchbarResetBtnSize) + 16px);
  --searchbarSubmitBtnSize: 40px;
  --searchbarResetBtnSize: 32px;

  position: relative;
  min-width: var(--searchbarMinWidth);
}

.searchbar--isSmall {
  --searchbarMinWidth: 100%;
  --searchbarInputBorderRadius: 32px;
  --searchbarInputFontSize: 16px;
  --searchbarInputPaddingInline: 16px calc(var(--searchbarResetBtnSize) + 16px);
  --searchbarResetBtnSize: 24px;
}

.searchbar__submitBtn {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: var(--searchbarSubmitBtnSize);
  height: var(--searchbarSubmitBtnSize);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar__inputWrapper {
  position: relative;
  border-radius: var(--searchbarInputBorderRadius);
}

.searchbar__input {
  background-color: white;
  border-radius: var(--searchbarInputBorderRadius);
  font-size: var(--searchbarInputFontSize);
  padding-block: 8px;
  padding-inline: var(--searchbarInputPaddingInline);
  border: 1px solid var(--color-violet-500);
  min-width: inherit;
  width: 100%;
  transition: background-color 0.3s;
}

.searchbar__input:focus-visible {
  outline: 3px solid var(--color-amber-400);
}

.searchbar__input[disabled] {
  cursor: not-allowed;
  background-color: #888888;
}

.searchbar__resetBtn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: var(--searchbarResetBtnSize);
  height: var(--searchbarResetBtnSize);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, color 0.3s, background-color 0.3s;
  border-radius: 50%;
  background-color: #5e5e5e;
  color: white;
}

.searchbar__resetBtn.isShown {
  opacity: 1;
  visibility: visible;
}

.searchbar__resetBtn:hover {
  color: var(--color-blue-300);
  background-color: var(--color-blue-550)
}

.searchbar__resetBtn svg path {
  fill: currentColor;
}
